#This Workflow will build the image from SSD repo and deploy using deployment-settings.
name: SPA Input branch Workflow
on:
  workflow_dispatch:
    inputs:
      branch:                       # **NEW INPUT**
        description: 'Branch to build'
        required: true 
      tag:
        description: 'Tag to deploy'
        required: false
      customer:
        description: 'Customer to deploy'
        required: true
        type: choice
        options:
          - sycamore-spa-demo-ps
          - sycamore-spa-staging-spa01-ps

permissions:
  id-token: write
  contents: write

env:
  organization: "sycamore"
  repository: "ssd"
  remote_branch_name: "${{ github.actor }}-${{ github.run_id }}"
  branch_name: "${{ github.ref_name }}"

jobs:
  runtimeInfo: 
    name: Print Runtime Environment details
    runs-on: self-hosted
    steps:
      - name: Show Runtime Env Values
        run: |
          echo "Running Staging Release workflow with the following Env Values:"
          echo ""
          echo "Deploying Branch: ${{ env.branch_name }}"
          echo "organization: ${{ env.organization }}"
          echo "repository: ${{ env.repository }}"
          echo "remote_branch_name: ${{ env.remote_branch_name }}"
          echo "region: ${{ env.region }}"

#Build the image and push to ECR
  build:
    name: Build Docker Images
    runs-on: self-hosted
    environment: staging
    if: ${{ github.event.inputs.tag != '' }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          ref: ${{ github.event.inputs.branch }}
      
      - name: Build
        id: build
        env:
          DOCKER_API_VERSION: "1.43"
          GITHUB_TOKEN: ${{ secrets.PRIVATE_REPO_ACCESS_TOKEN }}
          ECR_REGISTRY: ${{ secrets.ECR_REGISTRY }}
          ECR_USERNAME: ${{ steps.login-ecr.outputs.docker_username_572421346362_dkr_ecr_us_east_2_amazonaws_com }}
          ECR_PASSWORD: ${{ steps.login-ecr.outputs.docker_password_572421346362_dkr_ecr_us_east_2_amazonaws_com }}
          ECR_REPO_ORG: "sycamore"
          ACTIONS_STEP_DEBUG: true
        shell: bash
        run: |
          echo $ECR_REGISTRY

